<h1>Unit <%= @unit.number %>:</h1> <h2><%= @unit.title %></h2>

<br>
</br>
<p><a href="/units/<%= @unit.id %>/edit">Edit</a></p>
<p><a href="/units/<%= @unit.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>
<br>

<p><a href="/units">Go back to the units index</a></p>

<%if @unit.next != nil %>
<a href="/units/<%= @unit.next.id %>">Next</a>
<%end%>

<%if @unit.previous != nil %>
<a href="/units/<%= @unit.previous.id %>">Previous</a>
<%end%>
